 <style>
 * {
 	font-family:'Calibri';
 	font-size: 20px;
 	margin: 0;
 	padding: 0;
 }
 li {
 	list-style-type: none;
 }
 </style>
  <p>
	<ul style="padding: 5px">
	 {{#each opinions}}
		<li><pre><span><b>{{name}}</b>    {{age}} (y.o)    {{day}}.{{month}}.2020    <b>Rank - {{rank}}  </b></span></pre></li>
	{{/each}}
	</ul>
  </p>

