<style>
* {
	font-family: 'Calibri';
	font-size:20px;
	margin: 0;
}
a {
	text-decoration: none;
	color: #0000FF;
}
li {
 	list-style-type: none;
}
ul {
	padding: 5px;
}
a:hover {
	color: #009999;
}
#date {
	font-size: 18px;
	font-weight: bold;
	color: #000;
}
</style>
<div id="date"><b>Current date:</b>
<script type="text/javascript">
				function CurrentDate(date) {
				var month_name = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
				var day = date.getDate();
				var month = date.getMonth();
				var year = date.getFullYear();
			
				return day + ' ' + month_name[month] + ' ' + year;
			}
			document.write(CurrentDate(new Date()));
</script>
</div>	
		<h1>Sport Statistics v. {{version}}</h1>
		<ul>
			<li><a href="/">/</a> this documentation page</li>
			<li><a href="/health">/health</a> - Server lifetime</li>	
		 	<li><a href="/Reviews">/Reviews</a> - Clients about us </li>
		 	<li><a href="/Client_information">/Client_information</a> - Clients information</li>
		 	<li><a href="/Match_prediction">/Match_prediction</a> - Chance to win
		</ul>
</div>
{{> footer}}

