<table border="1px">
 <tr>
 	<td><b>Client</b></td>
 	<td><b>Age</b></td>
 	<td><b>Date</b></td>
 	<td><b>Type</b></td>
 	<td><b>Money put on sports</b></td>
 </tr>
	{{#each need_information}}
		<tr>
			<td>{{name}}</td>
			<td>{{age}}</td>
			<td>{{day}}.{{month}}.2020</td>
			<td>{{sport_name}}</td>
			<td>{{cost}}$</td>
		</tr>
	{{/each}}
</table>