 <style>
 * {
 	font-family: 'Calibri';
 	font-size: 20px;
 }
 h1 {
 	margin: 0;
 	padding: 0;
 	font-size: 45px;
 }
 </style>
 <h1>Match prediction</h1>
<table border="1px">
	<tr>
		<td><b>First team</b></td>
		<td><b>Win chance</b></td>
		<td><b>Sport name</b></td>
		<td><b>Win chance</b></td>
		<td align="right"><b>Second team</b></td>
	</tr>  
  {{#each events}}
  	<script type="text/javascript">
 	var x,y;
 	x=Math.floor(Math.random() * 50 + 30);
 	y=100-x;
 	</script>
 	<tr>
    	<td>{{first_team}}</td>
    	<td><script>document.write(x)</script>%</td>
   	 	<td><b>{{sport}}</b></td>
    	<td align="right"><script>document.write(y)</script>%</td>
    	<td align="right">{{second_team}}</td>
    </tr>
  {{/each}}
</table>